@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@-moz-keyframes fadeout {
  0% {
    visibility: visible;
    opacity: 1;
    left: 0px;
    z-index: 0;
  }

  99% {
    visibility: hidden;
    opacity: 0;
    z-index: 0;
  }
}

.welcomeboxes {
  position: fixed;
  left: 10px;
  width: 400px;
  background-color: #222;
  padding: 0px 6px 6px 6px;
  border-radius: 15px;
  top: 50vh;
  transform: translate(0, -50%);
  vertical-align: middle;
}

body {
  background-color: #000;
  color: white;
  text-align: center;

  padding: 0 0;
  margin: 0;
  font-family: Rubik, Roboto, Arial, sans-serif;
}

#settingsmenu > div {
  padding: 10px;
}

.notifWindow {
  position: absolute;
  background-color: #111;
  outline: 2px solid #333;
  padding: 2px 4px;
  border-radius: 0 4px 0 0;
  z-index: 1000;
  bottom: 0;
  display: block;
  text-align: left;
}

.messageBox {
  display: inline-block;
  position: relative;
  top: 0;
  vertical-align: top;
}

.profilePicBox {
  display: inline-block;
  width: 43px;
}

.profilePicBox > img {
  width: 36px;
  height: 36px;
  position: relative;
  top: 0;
  border-radius: 10px;
}

audio::-webkit-media-controls-panel {
  background-color: #888800;
}

audio::-webkit-media-controls-current-time-display {
  font-size: 18px;
}

audio::-webkit-media-controls-time-remaining-display {
  font-size: 7px;
}

audio::-webkit-media-controls-play-button {
  background-color: #ffff00;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: #ffff88;
}

@keyframes fadein { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout { 
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

p {
  padding: 0 15vw;
  text-align: center;
}
a {
  color: #ff0;
}
a:hover {
  color: #ffe;
}
input {
  display: none;
}
h1 {
  animation: fadein 2s;
  color: #ff0;
}

.button {
  background-color: #333; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.15s;
  border-radius: 5px;
  font-family: Rubik, Roboto, Arial, sans-serif;
}

.button:hover {
  background-color: #ff0;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button2 {
  background-color: #333;
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.15s;
  border-radius: 5px;
  font-family: Rubik, Roboto, Arial, sans-serif;
}

.button2:hover {
  background-color: #555;
  cursor: pointer;
}

.text2 {
  background-color: #333;
  border: none;
  color: white;
  padding: 0 3px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition: 0.15s;
  border-radius: 5px;
  width: 164px;
  resize: none;
  height: 19px;
  overflow: clip;
  font-family: Rubik, Roboto, Arial, sans-serif;
}

.text2:focus {
  background-color: #555;
}

.loginbox {
  background-color: #333; 
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.15s;
  border-radius: 5px;
  width: 35%;
  max-width: 240px;
  font-family: Rubik, Roboto, Arial, sans-serif;
}

.messagetext {
  background-color: #333;
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.15s;
  border-radius: 0 0 5px 0;
  width: calc(100% - 176px - 176px);
  height: 40px;
  font-family: Rubik, Roboto, Arial, sans-serif;
  resize: none;
  position: fixed;
  bottom: 17px;
  right: 106px;
}

.msgbar {
  background-color: #181818; 
  width: calc(100% - 240px); 
  height: 64px; 
  position: fixed; 
  bottom: 0;
  right: 0;
  z-index: 2;
}

.loginbox:focus {
  background-color: #ff0;
  color: black;
}

.page {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
}

.messages {
  background-color: #282828; 
  display: block;
  position: fixed;
  max-height: calc(100% - 64px);
  width: calc(100% - 240px);
  overflow-y: auto; 
  right: 0;
  top: 0;
  text-align: left;
}

.sidebar {
  background-color: #181818; 
  display: block;
  position: fixed;
  height: 100%;
  width: 240px;
  overflow-y: visible;
  left: 0;
  top: 0;
  text-align: left;
  z-index: 3;
}

.compression-arrow {
  background: #181818;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
  position: absolute;
  display: flex;
  bottom: 0px;
  left: 210px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}

.compressed {
  height: 12px;
  left: 240px;
  bottom: 3px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.compression-arrow:hover {
  background: #484848;
}

.compression-arrow > img {
  width: 30px;
  height: 30px;
}

.page-open {
  display: block;
}

.page-fade {
  display: block;
  animation: fadein .5s;
}

.send {
  position: fixed;
  bottom: 18px;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 0 0 5px 5px;
}

.send:hover {
  position: fixed;
  bottom: 18px;
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 0 0 5px 5px;
  background-color: #887;
}

.upload {
  right: 53px;
}

.aboutmuenster {
  position: fixed;
  bottom: 4px;
  right: 0;
  font-size: 11px;
  color: grey;
}

.apppage {
  background-color: #000;
}

.message {
  text-align: left;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  display: block;
}

.sysmsg {
  border-left: 3px solid grey;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

img {
  max-width: 300px;
  max-height: 600px;
}

a.fuckingbox {
  display: inline-block;
  border-radius: 12px;
  background-color: #333;
  padding: 5px;
  transition: 0.15s;
  text-align: center;
  font-size: 11px;
  text-decoration: none;
  color: white;
}

a.fuckingbox > img {
  width: 64px;
  height: 64px;
  display: block;
  transition: 0.15s;
}

a.fuckingbox:hover {
  background-color: #ff0;
  color: #000;
}

a.fuckingbox:hover > img {
  filter: invert(100%);
}

.nameicon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  vertical-align: middle;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-left: 4px;
}

.contentdeleted {
  color: orange;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #454545 #292929;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #292929;
}

*::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 3px;
  border: 2px solid #616161;
}